body {
    font-family: 'Oswald', sans-serif;
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    height:100%;
}

.map-container,
.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
}

.loader-container {
    position: relative;
    width: 100%;
    height: 900px;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.map-container {
    z-index: 10;
}

.overlay-container {
    z-index: 20;
}

.map,
.overlay {
    min-width: 1200px;
    min-height: 900px;
    position: absolute;
}

.arteries {
    stroke: rgba(71, 65, 67, 0.5);
    stroke-width: 2px;
}

.neighborhoods {
    stroke: #474143;
    fill: #F1F2E7;
    stroke-width: 1px;
}

.streets {
    stroke: rgba(166, 158, 157, 0.5);
    stroke-width: 1px;
    fill: rgba(0, 0, 0, 0.01);
}

.freeways {
    stroke: #474143;
    stroke-width: 1px;
    fill: rgba(0, 0, 0, 0.01);
}

.routepath {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 5px;
    stroke: rgba(14,71,94,0.5)
}

/* Header area styles */

.header {
    position: relative;
}

.checkbox-container {
    position: absolute;
    bottom: -330px;
    height: 300px;
    width: 300px;
    overflow-y: auto;
    font-size: 12px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.route-item {
    margin: 3px 0;
}
