body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.map-container,
.overlay-container,
.controls-container {
    position: absolute;
    top: 0;
    left: 0;
}

.map-container {
    z-index: 10;
}

.overlay-container {
    z-index: 20;
}

.controls-container {
    z-index: 30;
}

.map,
.overlay {
    min-width: 1200px;
    min-height: 900px;
}

.arteries {
    stroke: #474143;
    stroke-width: 2px;
}

.neighborhoods {
    stroke: #474143;
    fill: #E7E8E7;
    stroke-width: 1px;
}

.streets {
    stroke: rgba(166, 158, 157, 0.5);
    stroke-width: 1px;
    fill: rgba(0, 0, 0, 0.01);
}

.freeways {
    stroke: #474143;
    stroke-width: 1px;
    fill: rgba(0, 0, 0, 0.01);
}

.routepath {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 4px;
    stroke: #0E475E;
}

.vehicles {
    fill: red;
}